[2021-09-30 21:47] code-soham opened #1 "Update the Navbar to make in responsive"
## 🚀 Feature

**Design the navigation bar**

Basic Navbar using html and vanilla css

[2021-09-30 21:50] code-soham opened #2 "Prettify the Gallery Overview Page"
## 🚀 Feature

###Add life to the gallery!

The gallery overview will contain the different topics/categories the our pictionary will consist of.
It should contain a list of topics each of which leads to the respective topic page(to be added on the go , in its suitable position in directory).

[2021-10-01 04:35] tm2k23 commented on #1
Hey @code-soham can u please assign this to me?
I will do it without bootstrapping

[2021-10-01 06:47] code-soham opened #3 "Add CONTRIBUTORS.MD"
## 📚 Documentation

###Incorporate a contributors.md page to list contributions for future PRs ###

Helps to keep track and give the credit contributors deserve.

Basic Structure :
Heading
Contributors:
                 Name, Github-link, Contribution-specifics

[2021-10-01 10:42] tm2k23 commented on #1
I have designed the navbar, kindly check the pull request

[2021-10-01 19:30] code-soham opened #5 "Add Birds to the bird gallery"
## 🚀 Feature

**A clear and concise description of what the feature is.**

Add a page for birds gallery in the file-tree and continue with it.

Create card template and populate with data of common birds.

Requirements: Common Name, Scientific Name, Distribution, Description, Food habits

![Common Name](https://user-images.githubusercontent.com/77236783/135676106-956b6b22-e0da-4624-afd6-6337ee1bf9

[2021-10-01 19:37] code-soham opened #6 "Background"
## 🚀 Feature

###Add SVG backgrounds to the whole website

[2021-10-01 19:40] rajputarjun2001 commented on #6
Hi @code-soham Could you please assign this to me?

[2021-10-02 04:21] code-soham commented on #6
Please put PRs after 4th October to get the hacktoberfest-accepted.

[2021-10-02 07:23] vivekkj123 commented on #5
Assign this issue to me. Let me work on it

[2021-10-02 10:34] pavithra-064 commented on #5
can you please assign me this

[2021-10-02 14:31] FireQueen-3010 opened #7 "A footer for the website"
## 🚀 Feature

Adding a simple footer at least might make the website look complete.

**Describe the solution you'd like**
A footer with links to the main repo and links to different parts of the website.

[2021-10-02 14:32] FireQueen-3010 commented on #7
Please assign me this under hacktober fest

[2021-10-02 14:41] IAmTamal opened #8 "About Page"
## 🚀 Feature

**A clean minimalistic about page.**

**Is your feature request related to a problem? Please describe.**
Nil

**Describe the solution you'd like**
Hello, i am Tamal from GDSC JGEC I would like to add a clean and minimalistic about page for the site.

**Describe alternatives you've considered**
Nil

**Additional context**
Nil.

[2021-10-02 14:41] IAmTamal commented on #8
Sir, can i be assigned with the issue ?

[2021-10-02 14:43] niloysikdar commented on #7
Assigned @FireQueen-3010

[2021-10-02 14:43] niloysikdar commented on #8
Assigned @IAmTamal

[2021-10-02 15:50] ItsRoy69 commented on #3
Sir can I get assigned under Hacktoberfest?

[2021-10-02 15:51] ItsRoy69 commented on #2
Sir can I get assigned under Hacktoberfest?

[2021-10-02 15:51] ItsRoy69 commented on #1
Sir can I get assigned under Hacktoberfest?

[2021-10-02 17:59] SubrataMondal18 commented on #5
@code-soham I want to work it on under GDSC JGEC , can you assign this ?

[2021-10-02 18:30] VidhiBhatt01 commented on #3
I would like to work on this, please assign. (Am a part of GDSC JGEC)

[2021-10-02 19:39] 19082002 opened #10 "Modifying the Landing page"
## 🚀 Feature

**change ui design for home page**
Adding some Styles to the page using CSS and a digital clock to the footer.
**want to make the page responsive**
Rectify the overlaps..

Adding a navigation bar to the all page so that the user can directly go back to the home page...

[2021-10-02 19:43] TishaJhabak1014 commented on #10
Can I work on this? @19082002

[2021-10-03 03:54] SoundaryaKhanapur commented on #7
May I take this up?

[2021-10-03 04:08] code-soham commented on #10
@19082002 assigned!

[2021-10-03 05:32] IAmTamal commented on #8
The changes have been made, kindly review and merge the PR.

[2021-10-03 06:33] #8 closed

[2021-10-03 06:38] niloysikdar commented on #3
Assiged @ItsRoy69, will assign @VidhiBhatt01 after 2 days if it won't complete.

[2021-10-03 06:52] roshanmelanta commented on #2
Hi, can you assign me this issue? I'll use cards to properly align all the categories along with images

[2021-10-03 07:07] TuhinBanerjeeCSE commented on #2
I would like to work on this issue. I am member of gdsc jgec .

[2021-10-03 07:23] yadavashishdhirendra commented on #2
Hey @code-soham I would Like to work on this issue If you have many data in gallery section Then I would like to fetch it through JSON can u please assign it to me under hacktoberfest!

[2021-10-03 08:01] code-soham commented on #2
this is something we really have in mind after we are done with a full basic website! Stay tuned!

[2021-10-03 08:05] code-soham commented on #5
Will assign @SubrataMondal18  if it isn't completed by @pavithra-064 by tomorrow

[2021-10-03 10:58] ItsRoy69 commented on #10
Can I work on this?

[2021-10-03 12:15] yadavashishdhirendra commented on #2
Waiting for That feature @code-soham!

[2021-10-03 15:14] #7 closed

[2021-10-03 17:56] #1 closed

[2021-10-03 17:57] code-soham opened #13 "Revamp the existing Navigation Bar"
## 🚀 Feature
**Revamp existing navigation bar**

Navbar should have the basic items , a branding logo (left) , and the menu options on the right.
Create a responsive dropdown for the Navbar, on smallest viewports with same functionality.

[2021-10-03 22:56] lejara commented on #13
hello, may i work on this?

[2021-10-04 03:29] #2 closed

[2021-10-04 04:08] rajputarjun2001 commented on #6
ok sir

[2021-10-04 04:15] harshalw07 commented on #6
can i contribute to this issue please ?

[2021-10-04 04:17] harshalw07 commented on #6
@code-soham  i contribute yesterday on 3rd Oct to a repository ,will it counted in hacktoberfest ??

[2021-10-04 04:20] harshalw07 commented on #13
Hello @code-soham I am intrested to work on this issue ,
I will make navbar owsome.......

[2021-10-04 04:54] SushantBarje commented on #13
Hi @code-soham, I am interested in this. Can you assign this issue to me?

[2021-10-04 06:40] TuhinBanerjeeCSE commented on #13
I want to work on this issue. I'm a member of gdsc jgec .

[2021-10-04 07:16] code-soham commented on #13
Assigned @TuhinBanerjeeCSE

[2021-10-04 13:08] archanagandhi opened #15 "Dark Mode feature"
## 🚀 Feature

**A clear and concise description of what the feature is.**
Adding dark mode feature to the web page

**Is your feature request related to a problem? Please describe.**
Everybody prefers dark mode when comes to website

**Describe the solution you'd like**
I would like to add a new feature, Dark mode.
Please assign this to me. So i can start working

[2021-10-04 15:09] SubrataMondal18 commented on #15
I want to work on this issue under GDSC JGEC, please assign this to me !!

[2021-10-04 17:13] FireQueen-3010 opened #16 "Add Dogs to dog gallery"
## 🚀 Feature

Add a Dogs page in file-tree with card template and info regarding common dogs.

[2021-10-04 17:13] FireQueen-3010 commented on #16
Please assign me this

[2021-10-04 17:33] code-soham commented on #16
assigned @FireQueen-3010

[2021-10-04 17:37] code-soham commented on #5
@SubrataMondal18 assigned

[2021-10-04 18:54] niloysikdar commented on #15
Hey @archanagandhi , assigned you, go ahead. All the best.

[2021-10-05 04:43] code-soham commented on #6
There were some confusions regarding this, but most probably all the PRs will be counted if they fulfill the criterias.

[2021-10-05 05:15] mnaiwrit52 opened #17 "Navbar logo and navbar item links are faulty"
## Describe the Bug 🐛

**A clear and concise description of what the bug is**
On clicking Pictionary logo as well as the home button, the page doesn't reload to index.html, thereby giving a faulty page.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to navbar on the first page.
2. Click on 'Home' or 'Pictionary' logo.
3. See faulty page opens with a message.
4. Also you are unable to na

[2021-10-05 05:19] mnaiwrit52 commented on #17
### Please assign 🤓

[2021-10-05 05:29] harshalw07 commented on #6
Can i work with this issue

[2021-10-05 16:14] rajputarjun2001 commented on #17
Hi @mnaiwrit52 , I want to work on this issue, Could you please assign this to me?

[2021-10-05 16:43] Coder-Srinivas opened #19 "Add Pokemons to the pokemon gallery"
## 🚀 Feature

Displaying the original 151 pokemon using the free poke API. I would like to create an image template displaying the name and the abilities of the pokemon.

[2021-10-05 17:33] code-soham commented on #19
@Coder-Srinivas Assigned

[2021-10-05 17:45] rajputarjun2001 commented on #6
Can I have your discord or telegram account @code-soham , as it is difficult for me to discuss here??

[2021-10-05 18:04] maihunsandip commented on #17
I would like to work on this.. I'm member of GDSC jGEC.

[2021-10-05 18:23] #10 closed

[2021-10-05 18:24] code-soham opened #22 "Add Landing page content"
## 🚀 Feature

### Add description of the website (introduction) and misc. data about its work

[2021-10-05 18:33] Alahoz commented on #22
Hi! Can I get this issue?

[2021-10-05 18:54] Pratham-Mishra178 opened #24 "Corners of the cards are not properly curved."
## The gallery cards are not responsive and centered 🐛

**When we go to the gallery section we can find that the cards are not centered properly.**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Website'
2. Click on 'Gallery'
3. You can see that the gallery cards are not curved properly.

**Expected behavior**
all the cards should have a proper border radius on each edge.

**Screens

[2021-10-05 18:54] Pratham-Mishra178 commented on #24
please assign me this under hacktober fest 2021

[2021-10-05 18:57] Pratham-Mishra178 opened #25 "The gallery cards are not responsive and centered"
## The gallery cards are not responsive and centered 🐛

**When we go to the gallery section we can find that the cards are not centered properly.**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Website'
2. Click on 'Gallery'
3. You can see that the gallery cards are not centered properly within the window.

**Expected behavior**
all the cards should be aligned to the center.

**Scr

[2021-10-05 18:58] Pratham-Mishra178 commented on #25
Please assign me this task under  Hacktober fest 2021

[2021-10-05 19:05] shubhamjha25 opened #26 "Footer is not responsive"
**A Clear and Concise Description of What the Bug is**
The footer of the website is not responsive.
When the screen size shrinks, it looks quite ugly.

**To Reproduce**
1. Go to the Website
2. Scroll down to the bottom where the footer is
3. Right Click > Then Inspect
4. It's Clearly visible that it's not responsive
(Also attached the screenshot below)

**Expected Behavior**
The items of the foote

[2021-10-05 20:03] Yash-RajSingh commented on #22
I can take up this issue. Please assign it to me @code-soham

[2021-10-05 20:05] Yash-RajSingh commented on #17
I can take up this issue. Please assign it to me @mnaiwrit52

[2021-10-06 12:56] mayankgoyal-13 opened #27 "Add new cards"
## 🚀 Feature

**Feature Aim**
Add new cards to the Gallery page

[2021-10-06 13:23] mayankgoyal-13 commented on #25
The pull request #28 resolves this issue

[2021-10-06 16:49] #15 closed

[2021-10-06 16:50] niloysikdar commented on #17
Hey @mnaiwrit52 , assigned you the issue.

[2021-10-06 16:56] #24 closed

[2021-10-06 17:08] #25 closed

[2021-10-06 17:09] niloysikdar commented on #27
Assigned @mayankgoyal-13

[2021-10-06 17:10] niloysikdar commented on #26
Assigned @shubhamjha25

[2021-10-06 17:11] niloysikdar commented on #22
Assigned you @Alahoz , will assign @Yash-RajSingh if the issue won't get resolved within 1 day.

[2021-10-06 17:24] KOMAL729 commented on #13
hey , can i work on this?

[2021-10-06 17:41] #17 closed

[2021-10-06 19:17] yas-sisodia commented on #16
@code-soham please assign this task to me I can do this

[2021-10-07 10:37] #26 closed

[2021-10-07 13:07] rrriiiyyyaaa commented on #5
Please review my PRs #35

[2021-10-07 13:35] rrriiiyyyaaa commented on #5
Really sorry, I updated now. My mistake sorry. I didn't notice

[2021-10-07 14:20] FireQueen-3010 commented on #16
Sorry for the inconvenience, @code-soham but please assign this task to someone else

[2021-10-07 14:50] shubhamjha25 opened #36 "About Section Not Aligned Properly in Low-Width Screens"
## Describe the Bug 🐛
When you are on mobile device, you can see the header of the About page is not aligned properly which leads to ambiguity.
Also, the lower sections of the about page has got some extra padding and needs a fix.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to **About** Page
2. Right Click > Then Inspect
3. See error (Attached the screenshot below, for reference)

*

[2021-10-08 07:26] Coder-Srinivas commented on #16
Hey @code-soham Can I take this one? I'll be using the dog - CEO Api to fetch different breeds and their respective images

[2021-10-08 08:23] Yash-RajSingh commented on #22
Has this issue been attended to now or can i take this up?

[2021-10-08 12:14] niloysikdar commented on #13
It's been already 4 days @TuhinBanerjeeCSE . Unassigning you.
Assigned you @yas-sisodia

[2021-10-08 17:28] ab80four opened #44 "Clicking on 'home' link on main page broken."
Clicking on "home" link in the top nav bar is broken.

Upon clicking the link it redirects to an error page indicating "Cannot GET /index.html"

**To Reproduce**
Steps to reproduce the behavior:

1. Go to home page
2. Click on 'Home'
3. See error

**Expected behavior**
Should just re-open home page

**Screenshots**
[https://imgur.com/a/KGw7L5x]

[2021-10-09 10:36] Yash-RajSingh commented on #22
I've added the best suited information and details about the website on the landing page in the PR #46 . Kindly check and merge.

[2021-10-09 14:10] Coder-Srinivas commented on #16
@niloysikdar Thank You, I have made the PR, also my changes to the pokemon in the gallery page appear to have been lost, please do check.

[2021-10-11 11:24] wasimreja commented on #13
@niloysikdar Can you assign this to me if it's not done?

[2021-10-12 17:33] code-soham commented on #6
@rajputarjun2001 any updates?

[2021-10-22 11:18] 19082002 opened #49 "Dropdown button not working"
The hamburger button doesnt work, while shifting to mobile view for navigation bar.

[2021-10-23 01:49] #49 closed

[2021-11-03 19:05] #3 closed

[2022-01-30 06:47] #36 closed

[2022-01-30 06:47] #5 closed

[2022-01-30 06:47] #22 closed

[2022-01-30 06:48] #44 closed

[2022-01-30 06:48] #13 closed

[2022-01-31 09:06] code-soham opened #52 "Relink the Navigation links to Correct pages"
## Describe the Bug 🐛

**A clear and concise description of what the bug is**

**To Reproduce**
Steps to reproduce the behavior:
(for larger screens only)
1. Go to 'Navbar'
2. Click on 'Home Button'
3. See error

**Expected behavior**
Pictionary home screen appears

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser [e.g. chrome, safari]
- Version [e.g. 22]

**Sma

[2022-01-31 18:30] Shruti025 commented on #52
I want to work on this issue under JWOC

[2022-01-31 18:31] harshit4021 commented on #52
I want to work on this issue under JWOC

[2022-01-31 18:36] harshit4021 opened #53 "a hamburger menu could be enabled to enhance the UI enclosing the 4 links"
## 🚀 Feature

**A clear and concise description of what the feature is.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise de

[2022-01-31 18:41] code-soham commented on #52
@Shruti025 assigned! All the best!

[2022-01-31 18:44] harshit4021 commented on #53
"I want to work on this issue under JWOC"

[2022-01-31 18:47] manishbajagai2 opened #54 "Grammatical errors"
## Describe the Bug 🐛

**It is a simple bug anyone can notice and resolve. There is a potential spelling error in the About Us Page**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to About Us in the NavBar
2. In the Who Are We? section check out for potential errors

**Expected behavior**
Spelling mistakes are to be taken care of, some more gramatical mistakes eeds to be fixed

**Scree

[2022-01-31 18:59] manishbajagai2 commented on #53
I want to work on this issue under JWOC

[2022-01-31 19:18] code-soham commented on #53
I believe the issue you're talking of is in the landing page, while in some other pages the hamburger menu is styled. I would really like you to tally them and make them alike ! Thanks!
@harshit4021 Assigned

[2022-01-31 19:21] code-soham commented on #54
@Kaggrov If you're doing this, make sure to check for such mistakes throughout the site!
Assigning it to you .

[2022-02-01 02:42] #52 closed

[2022-02-01 04:52] Kaggrov commented on #54
ok sir

[2022-02-01 04:58] Sanga-Pal opened #56 "Populating the cards with actual data"
## Describe the Bug 🐛

The cards doesn't show their proper description instead contains default text.
![Screenshot 2022-02-01 102308](https://user-images.githubusercontent.com/97869216/151914914-092cdef4-062c-406f-8490-ae6621834744.jpg)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Home'
2. Click on 'Gallery'
3. Scroll down to 'Cards'
4. Click on the cards
5. See error

**Expected

[2022-02-01 04:59] code-soham commented on #56
@Sanga-Pal assigned! All the best ;)

[2022-02-01 06:15] code-soham opened #57 "Theming"
## 🚀 Feature

**Theme the Website uniformly across all existing pages.**

All the pages should be redesigned to have a light and a dark mode, that can be switched by the client.

**Solution I'd like**
You may use global parent class definition to dynamically switch between CSS classes.
You may even implement SCSS if needed.

**Alternatives I've considered**
Go creative!

P.S. theming is key 😉

[2022-02-01 07:12] Debdeep1 commented on #57
I want to work on this issue under JWOC.

[2022-02-01 07:15] code-soham commented on #57
Looking forward to an awesome themed ui!

[2022-02-01 10:45] code-soham opened #58 "Suggest a new Card design for contributors feature page!"
## 🚀 Feature
 **Design (No coding involved)**
Suggest a good design for the contributors card,
you can check out the current layout from

[Contributors Page](https://gdscjgec.github.io/Pictionary/contributors.html)

I am looking forward to automate the contributors page using Github API, so
I would like a simple yet concise card design.

Here's the APIs, so you may decide what all data can be pres

[2022-02-01 10:59] ronitblenz commented on #58
Hi, I am interested in this issue. Please let me in as an assignee

[2022-02-01 12:31] code-soham commented on #58
Okay @ronitblenz , I am assigning it to you! 👍🏻
Have fun designing! ;)

[2022-02-01 12:33] code-soham commented on #58
To upload your work for the PR, what you could do is create a folder in the root directory called "designs" and then create a subfolder for your work , obviously maintaining the other norms of contribution as they are. @ronitblenz

[2022-02-01 13:53] #56 closed

[2022-02-01 15:36] #54 closed

[2022-02-01 16:25] Rohan-Hazari opened #62 "Improving the Gallery page"
Putting space between images to not trigger the hover effect
to resolve any problem causing overflow

[2022-02-01 16:27] coder-mohit commented on #62
hey can you elaborate the bug in more detail

[2022-02-01 16:32] Rohan-Hazari commented on #62
Umm it was my first time raising an issue so it is not actually a bug but at few devices dimension the images start overflowing

[2022-02-01 16:54] code-soham commented on #62
@Rohan-Hazari Hi there! I'm assigning it to you!
Make sure to ensure the gallery page layout holds well in all screen sizes and also revamp the Card CSS for maintaining a uniform dimensions! All the best!

[2022-02-01 18:08] aadrikasingh18 opened #63 "Adding Navbar to Gallery and Contribution page"
I can add a Navbar to both the pages and that will help in navigation.

[2022-02-01 18:10] aadrikasingh18 commented on #63
I want to work on this issue under JWOC

[2022-02-01 18:25] ronitblenz commented on #58
Can you please give me a sample of what I need to do?

[2022-02-01 19:03] code-soham commented on #58
@ronitblenz you can take references from here - https://freefrontend.com/css-cards/

[2022-02-01 19:04] ronitblenz commented on #58
Ouk ouk gotcha... I have time upto tomorrow evening right?

[2022-02-01 19:11] whiteHatpro commented on #63
I want to work on this issue under JWOC

[2022-02-01 19:54] code-soham commented on #63
@aadrikasingh18 Hi there! I'd be glad that you're taking up this issue, but before going on, kindly update the Issue in the correct format as given by the official template!
thanks! ;)

[2022-02-01 19:59] code-soham commented on #58
This is a medium issue, so I think 2 days would be enough to ideate the design only..
So you'll have till 4th Feb, evening (i.e. 48 hrs since assignment of issue)
If you're defaulting, it will be passed to the next assignee, if there.

[2022-02-01 20:01] aadrikasingh18 commented on #63
Sure I am doing it that way.

[2022-02-01 20:01] aadrikasingh18 commented on #63
Sorry for the inconvenience

[2022-02-01 20:04] aadrikasingh18 commented on #63
But can you pls tell me where can I find the template? Or I have to make it on my own seeing other issues?

[2022-02-01 20:11] ronitblenz commented on #58
ok thank you, where can I connect with you any social handles?

[2022-02-01 20:21] code-soham commented on #58
@ronitblenz you can find me on our JWOC discord server channel for the repo and dm me there, the discord link I'm sure you received in the welcoming mail if not you can mail the authority Directly for any assistance, and also contact me by mail as well. I wont be sharing my personal contact here🥲, dm .

[2022-02-01 20:23] ronitblenz commented on #58
I understand ...XD I will find you in the server hehe..

[2022-02-01 20:51] DarkFalc0n commented on #57
I want to work on this issue under JWOC

[2022-02-01 21:10] code-soham commented on #63
@aadrikasingh18 the template should have come up on its own  when you open the new issue page.. if it didn't, just make sure to add some description to your issue, with what your  want to do, any bugs(if there), stuff like that, nothing strict over there ;)

[2022-02-02 01:48] manisha-27 opened #64 "Improving footer"
Improving the footer UI on the main page.

[2022-02-02 03:57] code-soham commented on #64
Hey there @manisha-27 , if you're revamping the footer for our site, I would also like you to make the footer visible  across all the existing pages, as for now it's only on the landing page.
Thanks!
Assigning it to you!

Some suggestions :
Keep the footer minimal
Integrate the logo of Google developer club in the footer
Add mailing information for contact

You may keep other details as per your c

[2022-02-02 06:17] aadrikasingh18 commented on #63
I think it came but I was not sure what to write and I thought it had to be done who so ever assigns the issue. Will keep it in mind the next time.

Thank you and will surely add the description at the time of pr.

[2022-02-02 11:54] #57 closed

[2022-02-02 11:58] code-soham commented on #53
@harshit4021 Hey harshit, could you update me with the progress on this issue?
thanks, Soham

[2022-02-02 14:54] #62 closed

[2022-02-02 15:10] code-soham opened #70 "Nav-Links open in new tabs"
## Describe the Bug 🐛

**A clear and concise description of what the bug is**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '.Homepage'
2. Click on any link
3. See error

**Expected behavior**
Opening multiple tabs is hectic and unnecessary as we're already working on a functional navbar. So I'd like it to not prompt new tabs to open.

[2022-02-02 15:25] code-soham commented on #70
@Koustavjr Assigned! :)

[2022-02-02 16:13] Anosh21 commented on #70
I would like to contribute in this issue under jwoc
I would like to collaborate with @Koustavjr on this issue.

[2022-02-02 16:58] #70 closed

[2022-02-02 20:59] #63 closed

[2022-02-02 21:00] #58 closed

[2022-02-02 21:00] #53 closed

[2022-02-02 21:07] code-soham opened #75 "Add Hamburger Menu to gallery and Contributors pages"
## Describe the Bug 🐛

**the hamburger menu in those pages arent functional**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Gallery'
2. Click on 'Dropdown'
3.  See error

**Expected behavior**
Dropdown menu should appear with links
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

- OS: [e.g. iOS]

[2022-02-02 23:05] harshit4021 commented on #75
i want to work on this issue under jwoc

[2022-02-03 03:32] Shruti025 commented on #75
hey, can I work on this issue under JWOC?

[2022-02-03 05:06] code-soham commented on #75
@Shruti025 Surely!
Keep please a note that you have to replicate the hamburger menu that's working in the other pages, and no need to implementing a different one ;)

[2022-02-03 05:08] code-soham commented on #64
@manisha-27 hey could you update me with the footer you're working on, if it's not a hassle ;)
thanks!

[2022-02-03 07:29] Shruti025 commented on #75
oh alright, thanks for informing :)

[2022-02-03 11:15] code-soham opened #77 "Implement the Contributors Card Design"
## 🚀 Feature

**Actuate the card design for contributors page**

Steps to access the design :
[code]

**No need to populate with actual data.**

[2022-02-03 11:16] Sanga-Pal commented on #77
@code-soham I want to work on this issue under JWOC

[2022-02-03 11:17] code-soham commented on #77
👍🏽 good luck

[2022-02-03 17:01] dakshgupta2002 opened #78 "add search bar and sorting options to display pokemon function"
## 🚀 Feature

**Adding sorting and searching functionality to fetched Pokemons list**

**The solution and the outcome**
I will add sorting and searching functions in pokemon display page, which can later be easily reused for other display pages!

**Current problem**
We are only fetching 1-150 pokemons but adding a search and sorting filter is a nice upgrade, i think.

[2022-02-03 20:00] #75 closed

[2022-02-04 00:51] manishbajagai2 commented on #64
If possible i would like to give it a go. @code-soham can you please assign the issue to me.

[2022-02-04 00:52] manishbajagai2 commented on #64
I want to work on this issue under JWOC

[2022-02-04 07:52] code-soham commented on #64
As we haven't heard back from @manisha-27 in these 3 days, transferring assignment to @manishbajagai2

[2022-02-04 17:55] Mr-ram99 opened #80 "fix the position of darkmode toggle button in all pages"
Fix the position of darkmode toggle button

Current problem
Dark mode toggle button in gallery, contribution, and other pages is at top-left hiding the logo of website. it should be in bottom right.

[2022-02-04 17:58] Mr-ram99 commented on #80
@code-soham Assign me this. I have already debugged the bug.

[2022-02-04 17:59] code-soham commented on #80
Where are you putting the button after fixing?

[2022-02-04 18:08] Mr-ram99 commented on #80
at bottom right

[2022-02-04 18:11] code-soham commented on #80
Okay I'm assigning to you , good luck!

[2022-02-04 18:11] Mr-ram99 commented on #80
check yourself - https://mr-ram99.github.io/Pictionary/
let me know if you want any change.

[2022-02-04 19:47] #80 closed

[2022-02-05 13:01] #64 closed

[2022-02-05 20:26] #77 closed

[2022-02-07 11:27] code-soham opened #84 "Add site logo to navbar"
## 🚀 Feature

The logo should be placed on the navbar (left corner) and also incorporated into the hamburger menu (centered)
The logo can be taken from the README.md file on this repository.

Make sure to review the responsiveness of the navbar after the integration.

[2022-02-07 14:53] manishbajagai2 opened #85 "Creating a favicon for the website"
## 🚀 Feature

This feature helps the tab to stand out among other tabs in the web browser. Also most of the good websites have one.

**Is your feature request related to a problem? Please describe.**
It is not a problem not to have one but i a good practice

**Describe the solution you'd like**
May be resized and smaller version of the logo or creation of an icon with the initial letter would do f

[2022-02-07 14:55] manishbajagai2 commented on #84
So basically replace the exising logo with the one found in readme ?

[2022-02-07 14:56] manishbajagai2 commented on #84
i want to work on this issue under JWOC

[2022-02-07 15:41] code-soham commented on #85
Yes, it'd be good to have the favicon as well, you may incorporate our logo, or come up with a design if you may wish to suggest one! Good luck!

[2022-02-08 05:12] #85 closed

[2022-02-08 05:12] #84 closed

[2022-02-08 05:12] #78 closed

[2022-02-08 05:16] code-soham opened #89 "Fix the gallery/landing.html page"
## Describe the Bug 🐛

**A clear and concise description of what the bug is**

open the gallery landing page

[2022-02-08 06:02] manishbajagai2 commented on #89
I think i fixed this issue in my previous pr @code-soham

[2022-02-08 06:03] manishbajagai2 commented on #89
Or if there is any let me work on it. Please let me know

[2022-02-08 06:04] code-soham commented on #89
Okay I'll review the issue

[2022-02-08 06:04] #89 closed

[2022-02-08 06:13] manishbajagai2 opened #90 "Font family mismatch"
## Describe the Bug 🐛

I don't know if it really matters or not but the font family used in body and footer seems mismatch

**Expected behavior**
Please have a look if we shall keep it as it is or change to one

**Screenshots**

![Screenshot_2022-02-08-11-39-16-00_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/62448303/152928765-7a1a5d7b-2169-4875-a2a9-1cd8a1affda7.jpg

[2022-02-08 06:17] manishbajagai2 commented on #90
@code-soham if changes need to be reflected. Let me work on it else you may close this issue 😃

[2022-02-08 06:19] manishbajagai2 commented on #90
Also just now i notice in the above screenshot that a little space is needed between the bullet and the topics mentioned

[2022-02-08 06:25] manishbajagai2 opened #91 "Not mobile responsive"
## Describe the Bug 🐛

The card used here is not mobile responsive as you can see in the below screenshot. Also the number of contributors is shown as 0

**Screenshots**

![Screenshot_2022-02-08-11-52-41-43_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/62448303/152930199-cae6f7d0-906d-4b22-bb75-e4151192c580.jpg)

[2022-02-08 09:02] #91 closed

[2022-02-08 09:03] code-soham commented on #90
what font family would you be suggesting to upgrade to?, I don't think this is a much needed fix but still it can be upgraded

[2022-02-08 14:46] manishbajagai2 commented on #90
I mean it's not like upgrading but you see in the above screenshot, the font family of the letter M in Movies and the font family of the letter M in Made with .., is not the same. I wanted to keep them in sync. So basically i thought to change the font family of footer to be equivalent with the rest of the body

[2022-02-08 16:03] code-soham commented on #90
I think the footer font is looking great, so let's skip this for now😅

[2022-02-08 16:14] manishbajagai2 commented on #90
Oh ok, No issues, you may close this issue

[2022-02-08 16:14] #90 closed

[2022-02-11 06:37] dakshgupta2002 opened #92 "Create a custom detail page for each pokemon"
## 🚀 Feature

**Building a  dynamic custom detailed page for each pokemon which can be visited from pokemon list**

[2022-02-11 13:40] ronitblenz opened #93 "Updating the Contributors Page"
i would like to update the contributors page, Plz assign the issue to me and tag it as a medium issue

Thanks

[2022-02-11 21:33] code-soham commented on #93
hi @ronitblenz , it'd be great if you specify what you want to work with

[2022-02-11 21:43] ronitblenz commented on #93
The contributors page is out dated, I will update with latest information and maybe some more css tweaks
I will hope for a Medium tag for this issue

[2022-02-12 03:34] code-soham commented on #93
Thanks for the suggestion but It is not needed right now as someone already suggested the revamp and the issue will be created soon! 😀

[2022-02-12 03:35] #93 closed

[2022-02-12 08:19] #92 closed

[2022-02-12 18:29] Jyoti6828 opened #95 "fix the title logo for rest of the pages"
## Except for the home page, other pages doesn't have a title logo  🐛
### It should be like this :

![image](https://user-images.githubusercontent.com/78480983/153723581-4bd3fcd1-dd19-4521-a656-6dc5739a5cc8.png)

### but it looks like this :
![image](https://user-images.githubusercontent.com/78480983/153723557-9cdf283f-d99f-4745-a9ec-58613c56527a.png)

[2022-02-12 18:29] Jyoti6828 commented on #95
I want to work on this issue under JWOC.

[2022-02-13 06:02] code-soham commented on #95
@Jyoti6828 Assigned!

[2022-02-13 10:42] code-soham opened #97 "Integrate GithubAPI in contributors Page"
## 🚀 Feature

**A clear and concise description of what the feature is.**

Populate the contributor cards with data from the Github API :
https://api.github.com/repos/gdscjgec/Pictionary/contributors
https://api.github.com/users/<user_name>

[2022-02-13 10:52] Aniket-508 commented on #97
@code-soham I want to work on this issue under JWoC.

[2022-02-13 11:46] code-soham commented on #97
@Sanga-Pal Assigned to you! 👍🏽

[2022-02-13 11:49] #95 closed

[2022-02-15 19:42] #97 closed

[2022-02-16 06:26] wasimreja opened #99 "Add movies to movie gallery"
## 🚀 Feature

Add movies to movie gallery using API.

[2022-02-16 06:30] code-soham commented on #99
@wasimreja have fun! Make sure it is coherent with the design criteria of the existing pages with all of their functionality.

[2022-02-16 21:07] #99 closed

[2022-02-17 07:22] wasimreja opened #101 "Enhance about us page"
## 🚀 Feature

Enhance the about us page and make it more minimalistic.

[2022-02-17 07:50] code-soham commented on #101
@wasimreja good luck!
if you're taking this up kindly add few more tiles in about us.
1. dedicated to GDSC JGEC
2. Hacktoberfest participation
3. JWOC participation

[2022-02-17 10:01] wasimreja commented on #101
All right!

[2022-02-17 19:35] AtriSukul1508 opened #103 "Adding functionality to the search bar in contributors page"
## 🚀 Feature
Adding functionality to the search bar in contributors page

[2022-02-18 03:59] #101 closed

[2022-02-18 19:35] #103 closed

[2022-02-19 07:48] Koustavjr opened #105 "Fetch all contributors in contributors page"
## Describe the Bug 🐛

**A clear and concise description of what the bug is**
The contributors Page is showing only 30 contributors instead of 33.

Fetch all pages from the github API

[2022-02-19 07:49] Koustavjr commented on #105
@code-soham I want to contribute to this issue under jwoc

[2022-02-19 08:25] #105 closed

[2022-02-19 16:50] AtriSukul1508 opened #107 "Remove the darkmode and clean the code"
## Describe the Bug 🐛
Remove the darkmode functionality and clean the code
**A clear and concise description of what the bug is**
Darkmode on the website is not working properly.If we enable dark mode the colors get inverted
**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descripti

[2022-02-19 16:51] AtriSukul1508 commented on #107
I would like to work on this issue under JWOC

[2022-02-19 16:52] code-soham commented on #107
Assigned!

[2022-02-20 04:07] #107 closed

[2022-02-20 07:15] dakshgupta2002 opened #109 "Slider in the modal for each pokemon"
We can slide in the modals itself created for each pokemon

[2022-02-20 09:32] dakshgupta2002 opened #111 "Adding sorting techniques inside movies page based upon Vote_Count, Vote_Average, Popularity, Name-of-Movie."
## 🚀 Feature

The movie api has various keys, which i will use to sort the movies as per user request.

[2022-02-20 09:39] dakshgupta2002 opened #112 "Display the current searched result in movies page."
## Describe the Bug 🐛

On searching something in movies page, the api returns the correct result but the user has no idea of what happened.

**To Reproduce**
Steps to reproduce the behavior:

![image](https://user-images.githubusercontent.com/78641951/154836749-ff96289a-3553-4447-b6da-b10f245191e5.png)

**Expected behavior**
The user should be shown the current searched string.
I will add a filter

[2022-02-20 09:40] #112 closed

[2022-02-20 10:29] #109 closed

[2022-02-21 06:49] #111 closed

[2022-02-22 16:49] Shruti025 opened #118 "Navbar bug in Contributors Page"
## Describe the Bug 🐛

**The navbar in the Contributors Page is larger than the required size**

**Screenshots**
![image](https://media.discordapp.net/attachments/937232718406766613/945693138868129882/unknown.png?width=856&height=586)

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser [e.g. chrome, safari]
- Version [e.g. 22]

**Smartphone (please complete the fo

[2022-02-22 16:49] Shruti025 commented on #118
I want to work on this under JWOC

[2022-02-23 17:23] Sanghu01 commented on #118
I would like to work on this issue under JWOC plz assign me also.

[2022-02-23 17:37] sayan404 opened #119 "Alignment problem in the footer section of Contributor page"
## 🚀 Feature

The text of footer section of Contributor page has no proper alignment.

**Is your feature request related to a problem? Please describe.**
![footer_problem](https://user-images.githubusercontent.com/95490367/155375316-9a40d23d-0bad-44d8-bbfa-f90610cdc83b.png)

**Describe the solution you

'd like**
A clear and concise description of what you want to happen.

**Describe alternatives

[2022-02-23 17:44] sayan404 opened #120 "I the Contributor page links should open in the new window for better user experience"
## 🚀 Feature

I the Contributor page links should open in the new window for better user experience

**Is your feature request related to a problem? Please describe.**
(https://drive.google.com/file/d/1yog9eDeYiDXDZVAMjmjV0vMS-gSmkgyB/view?usp=sharing)

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A cl

[2022-02-24 03:43] code-soham commented on #120
generally external links open in new tabs , so I believe this isn't necessary

[2022-02-24 03:43] #120 closed

[2022-02-24 03:45] code-soham commented on #119
Hi @sayan404 , already the contributors page is being worked upon, so after that PR is reviewd I'll surely assign you this issue if problem persists! :)

[2022-02-25 02:50] #118 closed

[2022-02-25 03:32] #119 closed

[2022-03-02 11:07] gullapalli9482 opened #123 "contrast color combination"
Usage of proper colors to the website would make the website more appealing, Than extreme color combinations , making it uncomfortable to glance

[2022-03-03 12:15] gullapalli9482 commented on #123
Anything easy to view would do.

[2022-03-03 13:28] code-soham commented on #123
Would you like to take up this issue? If so, do elaborate else I'll mark it up for grab if required

[2022-03-04 04:37] Faraaz2633 commented on #123
Hey there,
I would like to work on this issue under JWOC.
could you please assign it to me?

[2022-03-04 04:54] Faraaz2633 opened #124 "Alignment is not proper"
## Describe the Bug 🐛

In the birds, pokemon, and dogs page the padding and spacing of those items are not correct.
I would like to work on this issue under JWOC.
can you please assign me this.

[2022-03-04 05:10] code-soham commented on #124
Okay @Faraaz2633 I am assigning this to you

[2022-03-04 05:13] #123 closed

[2022-03-04 07:24] #124 closed

[2022-03-04 08:02] Jyoti6828 opened #126 "Gallary link is not working for Quick Links"
## Description:
In the footer of the home page, there are Quick links for -
- Gallery
- About Us
- Contributors
But for Gallary It not working:

### Screenshot:
![image](https://user-images.githubusercontent.com/78480983/156722984-4e2b711e-5063-4e1e-b57d-e52fb52c1e16.png)

[2022-03-04 08:04] Jyoti6828 commented on #126
I want to work on this issue under JWOC.

[2022-03-04 08:06] code-soham commented on #126
@Jyoti6828 Assigned!

[2022-03-04 10:37] tanya-gupta25 opened #128 "Add footer in all pages"
Footer is not present in pages except for home page , I'll add it

[2022-03-04 10:37] tanya-gupta25 commented on #128
I want to work on this issue under JWOC

[2022-03-04 13:42] code-soham commented on #128
hi @tanya-gupta25 , we already have a minimal footer which is doing great , so I believe this is not needed

[2022-03-04 13:42] #128 closed

[2022-03-04 13:43] #126 closed

[2022-03-07 09:28] Jyoti6828 opened #129 "Website Logo Image is Missing in Title Tab"
#### Description:
#### In the Gallery tab, there are different types of Categories.
![image](https://user-images.githubusercontent.com/78480983/157003382-50ce9fe0-427f-4e43-b8a6-665aca967001.png)

#### When we click on the particular link:
![image](https://user-images.githubusercontent.com/78480983/157003459-c09eb93c-1405-4293-93ba-d454f6990645.png)

#### Website Logo in Title for Pictionary is Mi

[2022-03-07 09:28] Jyoti6828 commented on #129
I want to work on this issue under JWOC.

[2022-03-20 05:00] #129 closed